# Environment
.env
.venv/
venv/
__pycache__/
*.pyc
*.py[cod]

# Database
data/*.db

# IDEs
.vscode/
.idea/

# Misc
.DS_Store
docker-compose - Copy.yml
backup-project.ps1
*.txt

# folder
.github/
AIAAS/

# Node.js
node_modules/
.next/